/** @format */

.nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  
  padding: 32px;

  background: hsla(11, 82%, 87%, 1);

  background: linear-gradient(90deg, hsla(11, 82%, 87%, 1) 0%, hsla(299, 85%, 90%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(11, 82%, 87%, 1) 0%, hsla(299, 85%, 90%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(11, 82%, 87%, 1) 0%, hsla(299, 85%, 90%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9CDC3", endColorstr="#FACEFB", GradientType=1 );
}
.nav .active {
  font-weight: 800;
}
.nav a {
  color: black;
  text-decoration: none;
}
