/** @format */

.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 200px;
  gap: 150px;
  background-color: RGB(229, 229, 229);

}
.home .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
}
.home .card img {
  width: 100%;
  max-height: 300px;
}
